<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body style="background-color: #f4f4f4; padding: 20px; margin: 0">
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #bbf7d0;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
      "
    >
      <img
        src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihayRTo5shMh4qF4cFDoILORxaytpTqcGwCE3yFGRSJCgUNK0FMgzwFXNMDjWPdkwxiaPi8wVUt8bfopDlj0CcbN6QWoHNINmw=w1920-h966"
        alt="Logo"
        style="display: block; margin: 0 auto; width: 350px; user-drag: none"
        height="360"
      />
      <div style="text-align: justify; margin: 20px">
        <p>Dear {{fullname}},</p>
        <p>
          We received a request to reset your password. Click
          <a href="{{url}}" style="color: blue">here</a> to choose a new
          password:
        </p>

        <p>
          If you didn't request a password reset, please ignore this email or
          contact our support if you have any questions.
        </p>
        <p>Thank you,</p>
        <p>Your Healthcare Team</p>
      </div>
    </div>
  </body>
</html>
