<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment Confirmation</title>
  </head>
  <body style="background-color: #f4f4f4; padding: 20px; margin: 0">
    <div
      style="
        max-width: 600px;
        margin: 0 auto;
        background-color: #bbf7d0;
        padding: 20px;
        text-align: center;
        border-radius: 8px;
      "
    >
      <img
        src="https://lh3.googleusercontent.com/u/0/drive-viewer/AKGpihYT6JCx8LSpqEBpEdxbjYc4qOnyISt1mk1ZYQwpdt0Ir5p2uTyF3M9eJ8txckFVz3c2OGbChOj2E9oy4v9SpWinfVBSMtz8HOw=w1920-h966"
        alt="Logo"
        style="display: block; margin: 0 auto; width: 350px; user-drag: none"
      />
      <div style="text-align: justify; margin: 20px">
        <p>Dear {{fullname}}</p>
        <p>
          Thank you for booking an appointment with us. Your request has been
          successfully received. Our medical team is currently reviewing your
          appointment details, and we'll send you updates soon. Kindly monitor
          your email inbox for further information regarding your appointment.
        </p>
        <p>
          Your trust in our medical services means a lot to us, and we're
          committed to providing you with the best care possible.
        </p>
        <p>
          Alternatively, you can log in to our platform to access additional
          services and download your medical receipts .
        </p>
        <p>
          Click <a href="{{url}}" style="color: blue;">here</a> to take some
          additional services.
        </p>

        <p>Thank you,</p>
        <p>Your Healthcare Team</p>
      </div>
    </div>
  </body>
</html>